<div>
  <%= button_link 'Adicionar novo papel em um filme', new_actor_role_path%>
</div>
<div>
  <dl>
    <dd>Nome</dd>
    <dt><%= @actor.name%></dt>
    <dd>Nacionalidade</dd>
    <dt><%= @actor.nationality%></dt>
    <dd>Ano de Nascimento</dd>
    <dt><%= @actor.birth %></dt>
  </dl>  
</div>